<a class="usa-skipnav" href="#main-content">Skip to main content</a>
 <div class="padding-2 bg-accent-warm text-base-lightest font-mono-xs text-center">
  <p>TEST Do not use real personal information (demo purposes only) TEST</p>
</div>
<div class="padding-2 bg-primary-darker text-base-lightest font-mono-xs text-center">
  <img class="width-2" aria-hidden="true" src="vendor/identity-design-system/assets/img/us_flag_small.png" alt="U.S. flag">
  A DEMO website of the United States government
</div>
<%== erb :header, locals: { user_email: nil } %>
<main id="main-content">
  <div class="grid-container">
    <div class="grid-row grid-gap">

      <div class="usa-overlay"></div>
      <div class="grid-container padding-0">
        <h1> Attempt events </h1>
        <form action="/ack-events" method="post">
          <input type="hidden" name="jtis" value="<%= attempts_events.map {|events| events['jti'] }.join(',') %>">
          <button type="submit" class="usa-button usa-button--secondary">
            <%== csrf_tag %>
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
              <use xlink:href="/vendor/identity-design-system/img/sprite.svg#delete"></use>
            </svg>
            Delete all events
          </button>
        </form>
        <div class="grid-row">
          <table class="usa-table usa-table--striped grid-col-fill">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">JTI</th>
                <th scope="col">Issued At</th>
                <th scope="col">Event data</th>
              </tr>
            </thead>
            <tbody>
              <% attempts_events.sort_by {|e| e['iat'] }.each do |attempt_event| %>
                <%== erb :event, locals: {
                  event_data: attempt_event['events'],
                  jwe_data: attempt_event.except('events'),
                  } 
                %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
