<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Identity</title>
   <link rel="stylesheet" type="text/css" media="all" href="/vendor/identity-design-system/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/sign-in.css">
  </head>
  <body>
    <%== yield %>
    <script src="/vendor/identity-design-system/assets/js/main.js"></script>
    <script src="/assets/js/scope-element.js"></script>
  </body>
</html>
