<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Identity</title>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/sign-in.css">
    <link rel="stylesheet" type="text/css" media="all" href="/assets/css/fake.css">
  </head>
  <body>
    <%== yield %>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
