<div class="clearfix py2 mxn1">
  <% (0..7).each do |i| %>
      <div class="sm-col sm-col-6 px1">
        <div class="p2 mb2 bg-white rounded">
          <div class="p1 mb1 bg-darken-1 col-7"></div>
          <div class="p1 mb1 bg-darken-1 col-10"></div>
          <div class="p1 mb1 bg-darken-1 col-5"></div>
          <div class="p1 mb1 bg-darken-1 col-8"></div>
          <div class="p1 mb1 bg-darken-1 col-6"></div>
          <div class="p1 mb1 bg-darken-1 col-11"></div>
          <div class="p1 mb1 bg-darken-1 col-8"></div>
        </div>
      </div>
  <% end %>
</div>