.bg-maroon {
  background-color: #85144b;
}
.bg-navy {
    background-color: #112e51;
}
.white {
    color: #ffffff;
}
.fs-12p {
    font-size: 12px;
}
.line-height-1 {
    line-height: 1;
}
.center {
    text-align: center;
}
.mr1 {
    margin-right: 0.5rem;
}
.align-bottom {
    vertical-align: bottom;
}

.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p2 {
  padding: 1rem;
}

.userinfo {
  border: 1px solid black;
  color: #000000;
  font-size: 0.6em;
  margin-top: .5rem;
  position: absolute;
  right: 360px;
  top: 285px;
}
.userinfo pre {
  margin: 0;
}
@media (max-width: 63.99em) {
  .userinfo {
    position: initial;
  }
}
.fright {
  float: right;
}
