.details-popup {
  position: absolute;
  margin-top: 5px;
  display: block;
}

.details-popup[open] {
  background: white;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 10px #fff;
  z-index: 1;
}

.details-popup .usa-select {
  width: 70%;
}

@media all and (max-width: 63.99em) {
  .details-popup[open] {
    width: initial;
    right: 0;
    margin: 5px;
  }
}