---
idp_url: 'http://localhost:3000'
acr_values: 'http://idmanagement.gov/ns/assurance/loa/1'
redirect_uri: 'http://localhost:9292/'
client_id: 'urn:gov:gsa:openidconnect:sp:sinatra'
sp_private_key_path: 'config/demo_sp.key'
